<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python aplikacija</title>
    <link rel="stylesheet" href="/static/css/stil.css">

    <style>
body {
  background-image: url("https://i.pinimg.com/originals/7d/cb/be/7dcbbef945b80130c32db404dda74de7.jpg");
}
</style>

</head>
<body>
    <nav>
        <center>
            <a href="/">Početna</a>
            <a href="/zagreb">Zagreb</a>
           <a href="/split">Split</a>
            <a href="/rijeka">Rijeka</a>
        </center>
    </nav>

    {% block content %}
    {% endblock content %}


</body>
</html>